In [21]:
import pandas as pd
import numpy as np
from datetime import datetime

In [22]:
data = pd.read_csv("./Dataset/datadebug.csv")
data = data.head(26304)
data["timestamp"] = data["timestamp"] / 1000
data["timestamp"] = data['timestamp'].apply(lambda x: datetime.fromtimestamp(x))
data.reset_index(drop=True, inplace=True)
data = data.set_index('timestamp')
data.index = pd.to_datetime(data.index)
data.shape

(26304, 3)

### removendo duplicatas

In [23]:
print(data.shape)
index_counts = data.index.value_counts()
duplicates = index_counts[index_counts > 1]
print("Timestamps duplicados:")
print(duplicates)
print(duplicates.shape)

data = data[~data.index.duplicated(keep='first')]

print(data.shape)
index_counts = data.index.value_counts()
duplicates = index_counts[index_counts > 1]
print("Timestamps duplicados:")
print(duplicates)

(26304, 3)
Timestamps duplicados:
timestamp
2020-05-05 01:45:00    2
2020-05-05 00:00:00    2
2020-02-22 06:15:00    2
2020-02-22 06:00:00    2
2020-02-22 05:45:00    2
2020-02-22 05:30:00    2
2020-02-22 05:15:00    2
2020-02-22 05:00:00    2
2020-02-22 04:45:00    2
2020-02-22 04:30:00    2
2020-02-22 04:15:00    2
2020-02-22 04:00:00    2
2020-02-22 03:45:00    2
2020-02-22 03:30:00    2
2020-02-22 03:15:00    2
2020-02-22 03:00:00    2
2020-02-22 02:45:00    2
2020-02-22 02:30:00    2
2020-02-22 02:00:00    2
2020-02-22 06:30:00    2
2020-02-22 06:45:00    2
2020-02-22 07:00:00    2
2020-03-13 23:45:00    2
2020-03-13 22:00:00    2
2020-03-13 22:15:00    2
2020-03-13 22:30:00    2
2020-03-13 22:45:00    2
2020-03-13 23:00:00    2
2020-03-13 23:15:00    2
2020-03-13 23:30:00    2
2020-05-05 02:15:00    2
2020-02-22 07:15:00    2
2020-05-05 02:00:00    2
2020-05-05 01:30:00    2
2020-05-05 01:15:00    2
2020-05-05 01:00:00    2
2020-05-05 00:45:00    2
2020-05-05 00:30:00    2
2020-02-22 07:30:00    2
2020-05-05 00:15:00    2
2020-02-22 02:15:00    2
2020-07-06 14:15:00    2
2020-07-06 12:30:00    2
2020-07-06 13:00:00    2
2020-07-06 13:15:00    2
2020-07-06 13:30:00    2
2020-07-06 13:45:00    2
2020-07-06 14:00:00    2
2020-07-06 12:15:00    2
2020-07-06 14:30:00    2
2020-07-06 14:45:00    2
2020-07-06 15:00:00    2
2020-07-06 15:15:00    2
2020-07-06 12:00:00    2
2020-07-06 12:45:00    2
2020-02-11 16:45:00    2
2020-02-11 16:30:00    2
2020-02-11 16:00:00    2
2020-02-11 16:15:00    2
Name: count, dtype: int64
(59,)
(26245, 3)
Timestamps duplicados:
Series([], Name: count, dtype: int64)

In [24]:
print(data.loc['2020-02-21 23:00:00':].head(100))

                           volume  trades    price
timestamp
2020-02-21 23:00:00  2.547130e+06    4252  9645.40
2020-02-21 23:15:00  2.066688e+06    3099  9644.61
2020-02-21 23:30:00  2.291746e+06    3545  9648.00
2020-02-21 23:45:00  2.312096e+06    2887  9646.59
2020-02-22 00:00:00  1.466617e+06    2492  9664.57
...                           ...     ...      ...
2020-02-22 22:45:00  1.651268e+06    2662  9666.49
2020-02-22 23:00:00  1.439637e+06    2103  9666.48
2020-02-22 23:15:00  1.718718e+06    2418  9672.03
2020-02-22 23:30:00  1.256793e+06    2543  9674.71
2020-02-22 23:45:00  1.137235e+06    1896  9680.54

[100 rows x 3 columns]

In [25]:
print(data.loc['2020-02-08 12:00:00':].head(100))

                           volume  trades     price
timestamp
2020-02-08 12:00:00  3.517926e+06    4404   9833.57
2020-02-08 12:15:00  2.945981e+06    3761   9829.92
2020-02-08 12:30:00  2.511891e+06    3898   9847.26
2020-02-08 12:45:00  3.235450e+06    4870   9829.47
2020-02-08 13:00:00  6.458484e+06    6427   9834.28
...                           ...     ...       ...
2020-02-09 12:45:00  5.691619e+06    6357  10097.10
2020-02-09 13:00:00  6.370635e+06    7200  10124.08
2020-02-09 13:15:00  4.115604e+06    5001  10086.65
2020-02-09 13:30:00  4.666957e+06    5100  10100.04
2020-02-09 13:45:00  4.320646e+06    5304  10112.03

[100 rows x 3 columns]

### Dados faltantes

In [26]:
data = data.asfreq('15min')
nan_data = data[data.isna().any(axis=1)]
#print(nan_data)
null_counts = data['price'].isnull().sum()
print(null_counts)

data = data.ffill()

data = data.asfreq('15min')
nan_data = data[data.isna().any(axis=1)]
print(nan_data)
null_counts = data['price'].isnull().sum()
print(null_counts)

59
Empty DataFrame
Columns: [volume, trades, price]
Index: []

In [27]:
data

                           volume  trades     price
timestamp
2020-01-01 00:00:00  1.959652e+06  2811.0   7228.50
2020-01-01 00:15:00  1.225410e+06  1897.0   7237.15
2020-01-01 00:30:00  1.469870e+06  2163.0   7221.27
2020-01-01 00:45:00  1.012436e+06  1466.0   7225.01
2020-01-01 01:00:00  1.102373e+06  1985.0   7219.09
...                           ...     ...       ...
2020-09-30 22:45:00  7.691178e+06  7530.0  10838.88
2020-09-30 23:00:00  6.680208e+06  7136.0  10819.73
2020-09-30 23:15:00  2.736092e+06  3947.0  10814.56
2020-09-30 23:30:00  2.167547e+06  3671.0  10828.42
2020-09-30 23:45:00  2.148491e+06  3595.0  10817.14

[26304 rows x 3 columns]

In [28]:
data.to_csv("dataDebug.csv")

In [29]:
timestamp = pd.to_datetime("2020-12-25 02:45:00").value
timestamp

1608864300000000000

### Tem dado faltando na Binance?

In [30]:
import requests

symbol = "BTCUSDT"
interval = "15m"
timestamp = 1608864300000000000 

url = f"https://api.binance.com/api/v1/klines"

params = {
    "symbol": symbol,
    "interval": interval,
    "startTime": timestamp,
    "endTime": timestamp + 900000,  # 15 minutos após o timestamp
    "limit": 1
}
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    if data:
        
        o_time = pd.to_datetime(data[0][0], unit='ms')
        o_price = data[0][1]
        c_time = pd.to_datetime(data[0][6], unit='ms')
        c_price = data[0][4]
        
        print(f"Open Time: {o_time}, Open Price: {o_price}")
        print(f"Close Time: {c_time}, Close Price: {c_price}")
    else:
        print("No data available for this timestamp.")
else:
    print("Failed to fetch data from Binance.")

No data available for this timestamp.